html {
    font-size: 16px;
    display: flex;
    justify-content: center;
    background-color: #222;
    margin: 0;
}

* {
    margin: 0;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 0;
}

body {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1rem;
    max-width: 48rem;
}

main {
    background-color: white;
    padding: 4rem;
}

h1 {
    color: #045;
}

h2 {
    font-size: 1rem;
    color: #045;
}

#contact-info {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  justify-content: center;
}

section {
    padding: 1rem;
}

section > * {
    margin-left: 2rem;
}

section > h2 {
    margin-left: 0;
}

footer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem 0;
    color: white;
}

@media print {
    html {
        background-color: white;
    }

    * {
        text-decoration: none;
        color: black;
    }

    body {
        padding: 0;
    }

    main {
        padding: 2rem;
    }

    header, footer {
        display: none;
    }
}